@import 'range.css';
body {
    font-family: "Arial";
}
label {
    display: block;
}
.panel[data-show="false"] {
    display: none;
}
fieldset {
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
}