body.chromatic-aberration-filter {
    filter: url(#chromaticAberrationFilter);
}
body.chromatic-aberration-filter-subtractive {
    filter: url(#chromaticAberrationFilterSubtractive);
}
body.chromatic-aberration-filter-wavy {
    filter: url(#chromaticAberrationFilterWavy);
}
body.chromatic-aberration-filter-wavy-subtractive {
    filter: url(#chromaticAberrationFilterWavySubtractive);
}
body.filterWobbly{
    filter: url(#filterWobbly);
}